MONGO_INITDB_ROOT_USERNAME=REPLACE_ME
MONGO_INITDB_ROOT_PASSWORD=REPLACE_ME

MONGO_ADMIN_USERNAME=REPLACE_ME
MONGO_ADMIN_PASSWORD=REPLACE_ME

MONGO_PROD_USERNAME=REPLACE_ME
MONGO_PROD_PASSWORD=REPLACE_ME

MONGO_EXPORT_USERNAME=REPLACE_ME
MONGO_EXPORT_PASSWORD=REPLACE_ME

SEQ_ADMIN_PASSWORD_HASH=REPLACE_ME
